apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus
    url: http://{{ .Release.Name }}-prometheus.{{ .Values.global.namespace }}.svc.cluster.local:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: "POST"
    version: 1