apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
rules:
 
  - apiGroups: [""]
    resources:
      - nodes
      - nodes/proxy          
      - services
      - endpoints
      - pods
    verbs: ["get", "list", "watch"]
  
  - apiGroups: [""]
    resources:
      - configmaps
    verbs: ["get"]
  
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs: ["get", "list", "watch"]

  - nonResourceURLs:
      - /metrics
      - /metrics/cadvisor      # ← cAdvisor metrics
      - /metrics/resource      # ← Resource metrics
    verbs: ["get"]

  - apiGroups: [""]
    resources:
      - nodes/metrics          # ← Métricas de nodos
      - nodes/stats            # ← Estadísticas de nodos
    verbs: ["get"]
