apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}-config
  labels:
    app: {{ .Chart.Name }}
data:
  SPRING_PROFILES_ACTIVE: {{ .Values.config.springProfilesActive | quote }}
  SPRING_ZIPKIN_BASE_URL: {{ .Values.config.springZipkinBaseUrl | quote }}
  SPRING_CONFIG_IMPORT: {{ .Values.config.springConfigImport | quote }}
  EUREKA_CLIENT_REGION: {{ .Values.config.eurekaClientRegion | quote }}
  EUREKA_CLIENT_AVAILABILITY_ZONES_DEFAULT: {{ .Values.config.eurekaClientAvailabilityZonesDefault | quote }}
  EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: {{ .Values.config.eurekaClientServiceUrlDefaultZone | quote }}
  EUREKA_CLIENT_SERVICE_URL_MYZONE: {{ .Values.config.eurekaClientServiceUrlMyZone | quote }}
  EUREKA_INSTANCE_PREFER_IP_ADDRESS: {{ .Values.config.eurekaInstancePreferIpAddress | quote }}
  EUREKA_CLIENT_REGISTER_WITH_EUREKA: "true"
  EUREKA_CLIENT_FETCH_REGISTRY: "true"
