apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}-config
  namespace: {{ .Values.global.namespace }}
  labels:
    app: {{ .Chart.Name }}
data:
  grafana.ini: |
    [analytics]
    check_for_updates = true
    
    [grafana_net]
    url = https://grafana.net
    
    [log]
    mode = console
    level = info
    
    [paths]
    data = /var/lib/grafana/
    logs = /var/log/grafana
    plugins = /var/lib/grafana/plugins
    provisioning = /etc/grafana/provisioning
    
    [server]
    protocol = http
    http_port = {{ .Values.service.port }}
    domain = localhost
    root_url = %(protocol)s://%(domain)s:%(http_port)s/
    
    [security]
    admin_user = {{ .Values.admin.user }}
    admin_password = {{ .Values.admin.password }}
    
    [users]
    allow_sign_up = false
    
    [auth.anonymous]
    enabled = false
    
    