
server:
  port: 8500

management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus,metrics"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
    prometheus:
      enabled: true
    metrics:
      enabled: true
  metrics:
    export:
      prometheus:
          enabled: true
          step: 1m 
          descriptions: true 
    tags:
      application: ${spring.application.name}
    enable:
      jvm: true
      process: true
      system: true
      tomcat: true
      logback: true
      http: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99
      sla:
        http.server.requests: 10ms, 50ms, 100ms, 200ms, 500ms, 1s, 2s
  health:
    # Health checks individuales
    db:
      enabled: true  # Si usas base de datos
    diskspace:
      enabled: true
      threshold: 10MB
    ping:
      enabled: true
    
    # Liveness probe - indica si la app está viva
    livenessstate:
      enabled: true
    
    # Readiness probe - indica si la app está lista para recibir tráfico
    readinessstate:
      enabled: true
spring:
  datasource:
    url: jdbc:h2:mem:ecommerce_dev_db;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        use_sql_comments: true
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      
  flyway:
    enabled: true
    locations: classpath:db/migration/h2

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
      springframework:
        web: DEBUG
        data: DEBUG
      boot:
        autoconfigure:
          data:
            rest: DEBUG
            jpa: DEBUG
            orm: DEBUG

