{{- if or (eq .Values.global.namespace "qa") (eq .Values.global.namespace "prod") }}

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{.Chart.Name}}-db-pvc
  namespace: {{ .Values.global.namespace }}
spec:
  accessModes: [ "ReadWriteOnce" ]
  storageClassName: standard
  resources:
    requests:
      storage: 10Gi
      
{{- end }}