image:
  repository: "prom/prometheus"
  tag: "v2.45.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9090

serviceAccount:
  create: true
  automount: true
  annotations: {}

podSecurityContext:
  enabled: true
  runAsNonRoot: true
  runAsUser: 65534
  fsGroup: 65534
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  enabled: true
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL
  seccompProfile:
    type: RuntimeDefault

# Configuración de Prometheus
config:
  globalScrapeInterval: 15s
  globalEvaluationInterval: 15s
  scrapeTimeout: 15s

# Persistent Volume para almacenar métricas
persistence:
  enabled: true
  storageClass: "standard"
  accessMode: ReadWriteOnce
  size: 8Gi

# Recursos
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

# Retención de datos
retention:
  time: 15d
  size: 7GB
