---
environments:
  dev:
    values:
      - ./ecommerce/values-dev.yaml
  qa:
    values:
      - ./ecommerce/values-qa.yaml
  prod:
    values:
      - ./ecommerce/values-prod.yaml

releases:
  - name: ecommerce-secrets
    namespace: {{ .Environment.Values.global.namespace }}
    chart: ./secrets
    createNamespace: true 
    values:
      - ./ecommerce/values-{{ .Environment.Name }}.yaml

  - name: my-ecommerce
    namespace: {{ .Environment.Values.global.namespace }}
    chart: ./ecommerce
    values:
      - ./ecommerce/values-{{ .Environment.Name }}.yaml
    needs:
      - ecommerce-secrets