
server:
  port: 8900

management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus,metrics"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
    prometheus:
      enabled: true
    metrics:
      enabled: true
  metrics:
    export:
      prometheus:
          enabled: true
          step: 1m 
          descriptions: true 
    tags:
      application: ${spring.application.name}
    enable:
      jvm: true
      process: true
      system: true
      tomcat: true
      logback: true
      http: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99
      sla:
        http.server.requests: 10ms, 50ms, 100ms, 200ms, 500ms, 1s, 2s
  health:
    # Health checks individuales
    db:
      enabled: true  # Si usas base de datos
    diskspace:
      enabled: true
      threshold: 10MB
    ping:
      enabled: true
    
    # Liveness probe - indica si la app está viva
    livenessstate:
      enabled: true
    
    # Readiness probe - indica si la app está lista para recibir tráfico
    readinessstate:
      enabled: true
logging:
  file:
    name: src/main/resources/script/prod_log.log
    clean-history-on-start: false
  level:
    org:
      hibernate:
        SQL: DEBUG
      springframework:
        web: DEBUG
        data: DEBUG
      boot:
        autoconfigure:
          data:
            rest: DEBUG
            jpa: DEBUG
            orm: DEBUG

