server:
  port: 9296

spring:
  zipkin:
    base-url: ${SPRING_ZIPKIN_BASE_URL:http://localhost:9411/}
  application:
    name: CLOUD-CONFIG
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Barcino44/cloud-config-server
          default-label: master
          clone-on-start: true
          basedir: /tmp/config-repo

resilience4j:
  circuitbreaker:
    instances:
      cloudConfig:
        register-health-indicator: true
        event-consumer-buffer-size: 10
        automatic-transition-from-open-to-half-open-enabled: true
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        wait-duration-in-open-state: 5s
        sliding-window-type: COUNT_BASED

management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus,metrics"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
    prometheus:
      enabled: true
    metrics:
      enabled: true
  metrics:
    export:
      prometheus:
          enabled: true
          step: 1m 
          descriptions: true 
      tags:
        application: ${spring.application.name}
      enable:
        jvm: true
        process: true
        system: true
        tomcat: true
        logback: true
        http: true
      distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99
      sla:
        http.server.requests: 10ms, 50ms, 100ms, 200ms, 500ms, 1s, 2s
  health:
    # Health checks individuales
    db:
      enabled: true  # Si usas base de datos
    diskspace:
      enabled: true
      threshold: 10MB
    ping:
      enabled: true
    
    # Liveness probe - indica si la app está viva
    livenessstate:
      enabled: true
    
    # Readiness probe - indica si la app está lista para recibir tráfico
    readinessstate:
      enabled: true